@import '../Variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
}

#root{
  min-height: 100vh;
}

.main {
  position: relative;

  padding: 2em 0;
  min-height: 100vh;

  background-color: black;

  .logo {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  .characters {
    padding: 2em;

    @media screen and (min-width: $break-tablet) {
      margin: 0 auto;
      width: 100%;
    }

    @media screen and (min-width: $break-desktop) {
      margin: 0 auto;
      width: 50%;
    }
  }
}
