$break-tablet: 768px;
$break-desktop: 992px;

:root{
  --clr-darkgray: #282727;
  --clr-lightgray: #BABABA;
  --clr-dropdown-gray: #383838;
  --clr-btn-bckg: #343434;
  --clr-yellow: #FFE81F;

  --size: .5rem;
  --size-radius: 4px;
}
